@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Inter', sans-serif;
}

.header {
    min-height: 210px;
    background-color: rgba(182, 131, 33, 0.4);
    background-image: url('images/header.jpg');
    background-size: cover;
    color: white;
}

.galeria, .obra{
    height: 0;
    background-position: bottom;
    background-repeat: no-repeat;
    position: relative;
    background-size: contain;
    padding-top: 66.64%;
}

.galeria {
    background-image: url('images/bg.jpg');
}

.obra {
    background-image: url('images/bg2.jpg');
}

.img_view {
    position: absolute;
    left: 27.5%;
    top: 30%;
    max-height: 40%;
}

.img_btn {
    cursor: pointer;
}

.img_autor{
    border-radius: 20px;
    border: 2px solid #C58358;
}

.card-body{
    text-align: justify;
    height: 250px;
}

.obra1{
    position: absolute;
    top: 55%;
    left: 45%;
    width: 7.5%;
}

.galeria .obra2 {
    position: absolute;
    top: 58.5%;
    left: 59%;
    width: 10%;
}

.obra3_parent{
    position: absolute;
    perspective: 1000px;
    left: 90%;
    top: 58%;
}

.obra3{
    transform: rotateY(300deg);
    width: 90%;
}

.galeria .obra4 {
    position: absolute;
    top: 50.5%;
    left: 8%;
    width: 18%;
}

.obra5_parent{
    position: absolute;
    perspective: 700px;
    left: 72%;
    top: 63%;
}

.obra5{
    transform: rotateY(300deg);
    width: 40%;
}


.botoes{
    position: absolute;
    width: 280px;
    top: 30%;
    right: 26%
}

.btn_collapse {
    border: 2px solid #000000 !important;
    border-radius: 4px !important;
}

.btn_voltar{
    background-color: #C58358 !important;
    border: 2px solid #654028 !important;
    border-radius: 12px !important;
}

a{
    color: black !important;
    text-decoration: none !important;
}